  .bg-70 {
    background: #effaf8;
    border-radius: 50px;
  }

  .bg-71 {
    background: #f5f0fc;
    border-radius: 50px;
  }

  .bg-72 {
    background: #feeff8;
    border-radius: 50px;
  }

  .bg-73 {
    background: #e9f5fc;
    border-radius: 50px;
  }

  .features__body {
    margin-bottom: 20vh;
  }

  .features__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .features__title {
    font-style: normal;
    font-weight: 700;
    font-size: calc(30px + (10 + 10 * 0.7) * ((100vw - 320px) / 1600));
    line-height: 130%;
    color: #212353;
    margin-bottom: 6%;
  }

  .features__text {
    max-width: 584px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    line-height: 120%;
    color: #4B5D68;
  }

  .features__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .features-item {
    max-width: 530px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    margin: auto;
    transition: all 0.2s;
  }

  .features-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }


  .features-item__image-container {
    max-width: 230px;
    height: auto;
    margin: auto;
  }

  .features-item__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .features-item__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #212353;
  }

  .features-item__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #4B5D68;
  }

  .features-item__more {
    width: 127px;
    height: 26px;
    margin: auto;
  }

  .features-item__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: #212353;
  }

  .features-item__link:hover {
    cursor: pointer;
    color: #7c53b6;
  }

  .features-item__icon {
    display: block;
    width: 20px;
    height: 14px;
    margin-top: 3px;
  }

  @media screen and (min-width:576px) {
    .features-item {
      max-width: 530px;
      display: flex;
      flex-direction: row;
      gap: 20px;
    }

    .features-item__image-container {
      flex: 1 2 30%;
    }

    .features-item__content {
      flex: 2 1 70%;
      gap: 20px;
    }
  }

  @media screen and (min-width:768px) {
    .features__items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
    }

    .features-item {
      gap: 10px;
      flex-basis: calc(50% - 15px);
    }

  }

  @media screen and (min-width:992px) {
    .features__header {
      margin-bottom: 80px;
    }

    .features__items {
      gap: 30px;
      justify-content: space-between;
    }

    .features-item {
      height: 300px;
      padding: 30px 10px;
    }

    .features-item__content {
      gap: 0;
      justify-content: space-between;
    }

    .features-item__text {
      line-height: 160%;
    }

    .bg-70 {
      background: none;
      background-image: url('../images/backgrounds/bg-70.svg');
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
    }

    .bg-71 {
      background: none;
      background-image: url('../images/backgrounds/bg-71.svg');
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
    }

    .bg-72 {
      background: none;
      background-image: url('../images/backgrounds/bg-72.svg');
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
    }

    .bg-73 {
      background: none;
      background-image: url('../images/backgrounds/bg-73.svg');
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain;
    }
  }

  @media screen and (min-width:1200px) {
    .features__text {
      line-height: 160%;
    }

    .features__items {
      gap: 40px;
      justify-content: space-between;
    }

    .features-item {
      gap: 15px;
      flex-basis: calc(50% - 20px);
    }

    .features-item__image-container {
      flex: 1 2 40%;
    }

    .features-item__content {
      flex: 2 1 60%;
    }

    .features-item__more {
      margin: 0;
    }
  }

  @media screen and (min-width:1600px) {
    .features__body {
      margin-bottom: 150px;
    }

    .features__header {
      margin-bottom: 100px;
    }

    .features__items {
      gap: 60px;
      justify-content: space-between;
    }

    .features-item {
      height: 358px;
      padding: 40px 50px 40px 0px;
      margin-bottom: 50px;
    }

    .features-item__image-container {
      width: 230px;
      flex: 0 0 auto;
    }

    .features-item__content {
      width: 220px;
      flex: 0 1 auto;
    }
  }